@font-face {
  font-family: Oswald;
  src: url(Oswald-Bold.woff2) format("woff2"),
    url(Oswald-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url(FiraSansCondensed-Regular.woff2) format("woff2"),
    url(FiraSansCondensed-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url(FiraSansCondensed-Bold.woff2) format("woff2"),
    url(FiraSansCondensed-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.title-font {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__card-link {
  text-decoration: none;
}
