.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: transparent;

  border: 1px solid #fff;
}

button:active {
  background: #545050;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  border: 1px double #fff;
  outline: 1px double #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  cursor: pointer;

  width: 194px;
  height: 34px;
}

.more-button {
  cursor: pointer;
  width: 399px;
  height: 34px;
}
