.search-form__checkbox-list {
  width: 212px;
  height: 22px;

  display: flex;
  flex-direction: row;
}

.search-form__checkbox {
  position: relative;

  display: inline-block;

  user-select: none;
  cursor: pointer;
  padding: 0 1em 0 1.3em;
  min-height: 1em;

  width: fit-content;
}

.search-form__checkbox .search-form__pseudo-checkbox {
  position: absolute;
  margin-top: 0;
  margin-left: -1.2em; /* Выдвигаем чекбокс левее так, чтобы он не наезжал на текст */
  width: 1em;
  height: 1em;
  overflow: hidden;
  text-align: center;
  font-size: 1em;
  line-height: 1;
  outline: 1px solid #fff;
  background-color: transparent;
  outline-offset: 1px;
  color: transparent;
}

.search-form__checkbox input[type="checkbox"] {
  /* Выводим стандартный чекбокс за границы label */
  position: absolute;
  right: 100%;
  top: 0;
}

.search-form__checkbox
  input[type="checkbox"]:checked
  + .search-form__pseudo-checkbox {
  background-color: #fff;
  color: white;
}

.search-form__label-text {
  padding: 0 0 0 5px;
  width: fit-content;
}
